
.navbar {
    flex-direction: row;
    padding-bottom: 1em;
    margin-bottom: 50px;
    background-color: rgba(241, 182, 19, 0.884);
    font-family: 'New Tegomin', serif;
  }
  form {
    align-items: center;
  }
  .mainContainer {
    height: 40px;
    width: 1500px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
  }
  #navbarSupportedContent{
    justify-content: flex-end;
  }
  