<div class="container d-flex aling-center">
    <form #userLogin="ngForm">
        <div class="form-group">
            <label for="username">Usuario</label>
            <input 
                id      ="username" 
                name    ="name"
                type    ="text" 
                class   ="form-control">
        </div>
        <div class="form-group pb-3">
            <label for="password">Contraseña</label>
            <input 
                id      ="password" 
                name    ="password"
                type    ="text" 
                class   ="form-control">
            
        </div>
        <button class="btn btn-primary" type="submit">Iniciar sesión</button>
        <p class="pt-3">No estas registrado? <a routerLink="../registro">Ingresa aqui</a></p>
    </form>
</div>
