.container {
  padding-top: 80px;
  justify-content: center;
  font-family: 'New Tegomin', serif;
}
#publicar {
  background-color: #99e930;
}
form {
  border: 2px inset #990d0d;
  padding: 2em 2em;
}
input {
  width: 420px;
}
