@bordeRosado            :rgb(207, 100, 100);
@newTagomin          :'New Tegomin';
@colorFondoAsignaturas  :rgb(225, 238, 208);
@gris                   :gray;
@ridge                  :ridge;
@solid                  :solid;
@textEllipsis           :ellipsis;
@hidden                 :hidden;
@rojoBordeForms         :rgb(153, 13, 13);
@inset                  :inset;
@center                 :center;
@row                    :row;
@nowrap                 :nowrap;
@navbarYellow           :rgba(241, 182, 19, 0.884);
@negro                  :negro;
@flex                   :flex;
@rojoResena             :rgb(136, 41, 41);
@blanchedalmond         :blanchedalmond;
@verdeLimon             :rgb(153, 233, 48);