<div class="container detalles">
    <div class="row">
        <div class="col-3">
            <img src="../../assets/libros antiguos.jpg">
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-6">
                    <h4><span class="detalle">Nombre:</span>  Nombre comunidad</h4>
                </div>
                <div class="col-6">
                    
                </div>
            </div>
            <p>Aqui iria la descripcion de la comunidad y todo eso</p>
        </div>
        <div class="col-2">
            <tr>
                <td>miembros: </td>
                <td>discusiones</td>
            </tr>
            
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <app-discusiones></app-discusiones>
        </div>
        <div class="col-2">
            <tr>
                <td>comunidades relacionadas</td>
            </tr>
        </div>
    </div>
</div>
