<div class="container detalles">
    <div class="row">
        <div class="col-3">
            <img src="{{this.comunidadService.selectComunidad.imagen}}">
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-6">
                    <h4><span class="detalle">{{this.comunidadService.selectComunidad.titulo}}</span></h4>
                </div>
                <div class="col-6">
                    <button class="btn btn-success unir-comunidad" (click)="unirUsuario(firebase.auth().currentUser.uid, this.comunidadService.selectComunidad.id)">Unirse a la comunidad</button>
                </div>
            </div>
            <p id="descripcion">{{this.comunidadService.selectComunidad.contenido}}</p>
        </div>
        <div class="col-2">
            
            
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="container" id="tList"> 
                <button class="btn mb-2" id="agregar-disc" routerLink="/add-disc" (click)="pasarIdComunidad()">Agregar discusión</button>
               <div class="tList" *ngFor="let discusion of discusionList">
                   <ng-container *ngIf="discusion.idComunidad == this.comunidadService.selectComunidad.id">
                        <div class="d-flex justify-content-between titulo">
                            <h4 class="titulo">{{discusion.titulo}}</h4>
                            <span class="fecha">Fecha: {{discusion.fechaDia}}-{{discusion.fechaMes}}-{{discusion.fechaAno}}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="btn-group">
                                <button class="btn me-interesa" routerLink="/detalle-discusion" (click)="buscarDiscusion(discusion, discusion.titulo)">Ver más</button>
                            </div>
                            <span class="clave">{{discusion.idComunidad}}</span>
                        </div>
                   </ng-container>
               </div>
           </div> 
        </div>
        <div class="col-2">
           
        </div>
    </div>
</div>
