@import '../app.component.less';
#cList{
    border          : 2px solid @bordeRosado;
    margin-bottom   : 2em;
    font-family     : @newTagomin, serif;
    background-color: @colorFondoAsignaturas;
}
.cList{
    border-bottom   : 1px @ridge @gris;
}
.carousel-item{
    height  : 300px;
}