<div class="container" id="tList"> 
   <div class="tList" *ngFor="let resena of resenaList">
       <div class="d-flex justify-content-between titulo">
           <h4 class="resena">{{resena.nombre}}</h4>
           <span class="fecha">{{resena.descripcion}}</span>
       </div>
       <div class="d-flex justify-content-between">
           <div class="btn-group">
               <button class="btn no-me-interesa">No me interesa</button>
               <button class="btn me-interesa" routerLink="/resenas" (click)="this.resenaService.verResena(resena)">Ver resena</button>
           </div>
           <span class="clave">{{resena.idResena}}</span>
       </div>
   </div>
</div> 