  <div class="container">
    <div class="row">
        <div class="col-3">
            <img src="../../assets/libros antiguos.jpg">
        </div>
        
        <div class="col-9">
            <h4>{{this.discService.selectDiscusion.titulo}}</h4><span><i>{{this.discService.selectDiscusion.autor}}</i></span>
            <p id="contenido">{{this.discService.selectDiscusion.contenido}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <form class="d-flex mb-2 mt-2" [formGroup]="form" (ngSubmit)="onSubmit(form)">
                <textarea 
                class="form-control me-2" 
                formControlName="comentario"
                name="comentario" 
                type="search" 
                [value]="comentario" 
                placeholder="Escriba aquí su comentario..." 
                aria-label="Search"></textarea>
                <button class="btn btn-outline-success" type="submit">Enviar</button>
            </form>
        </div>
    </div>
    
    <div class="row comentario" *ngFor="let comentario of comentarioList">
        <div class="col-1">
            <img src="../../assets/libros antiguos.jpg" alt="" class="icon-perfil">
            <p class="mr-2 nombre-usuario"><b>{{comentario.autor}}</b></p>
        </div>
        <div class="col-11 ">
                <p class="ml-4 contenido">{{comentario.contenido}}</p>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-success" (click)="toggleLike(comentario.contenido, comentario.id)">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                    </button>
                    <button class="btn btn-danger">
                        <i class="bi bi-hand-thumbs-down-fill"></i>
                    </button>  
                </div>
        </div>   
    </div> 
</div>
 
